:root{
    --black:#030303;
    --medium-brown:#7a746e;
    --white:#ffffff;
    --ligt-cream:#fff7f0;
    --galantic-blue:#755cde;
    --summer-yellow:#f6a560;
    --pink:#f39e9e;
    --light-red:#eb7565;
    --cyan:#61c4b7;
    --dark-purple:#552049;
    --x-padding:1rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
body{
    background: var(--ligt-cream);
}
img{
    width: 100%;
    height: 100%;
}
p, a{
    font-weight: 500;
}
p{
    color: var(--medium-brown);
    line-height: 30px;
}
h2{
    font-weight: 700;
}
header, section,footer{
    max-width: 1368px;
    margin: 0px auto;
    padding: 0 var(--x-padding);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem var(--x-padding);
    align-items: center;
}
.btn{
    background: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heroHeading{

    text-align: center;
    font-size: 45px;
    padding: 2rem 0;
}
.heroDescription{
    text-align: center;
    max-width: 400px;
    padding: 0 3.2rem;
}
.skills{
    padding: 2rem var(--x-padding);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 1.5rem;
}
.skills__item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--cyan);
    padding: 2rem;
    border-radius: 0.8rem;
    color: var(--white);
}
.item__img{
    align-self: flex-end;
}
.item-graphic{
    grid-row: 1 / 3;
    background-color: var(--galantic-blue);
}
.item-ui{
    background-color: var(--summer-yellow);
}
.item-illustrations{
    background-color: var(--light-red);
}
.item-apps{
    background-color: var(--pink);
}
.item-motion{
    background-color: var(--dark-purple);
}
.item-photography{
    background-color: var(--cyan);
}
.item-illustrations, .item-motion, .item-graphic, .item-photography{
    grid-column: 1 / 3;
}
.about, .about__group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}
/* .about__group{
    max-width: 400px;
} */
.call__container{
    background: var(--black);
    color: var(--white);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-radius: 1rem;
    margin: 3rem 0;
}
.btnPrimary{
    background-color: var(--pink);
}
@media (min-width:430px){
    .skills{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 200px);
        gap: 1.5rem;
    }
    .item-graphic{
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    .item-photography{
        grid-row: 1 / 2;
        grid-column: 5 / 7;
    }
    .item-illustrations{
        grid-row: 2 / 3;
        grid-column: 3 / 5;
    }
    .item-motion{
        grid-row: 2 / 3;
        grid-column: 5 / 7;
    }
    .about{
        display: flex;
        flex-direction: row;
        height: 490px;
        gap: 2rem;
    }
    .aboutImg {
        object-fit: cover;
    }
    /* .aboutImg > img {
        height: 100%;
        width: 100%;
    } */
    .call__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        gap: 6rem;
    }
    /* .call__group, .call__container > .btnPrimary{
        flex-grow: 1;
    } */
    .call__group {
        width: 900px;
    }
}